*{margin:0;padding:0;}

body.gradient{
    background-image: linear-gradient(bottom, rgb(140,140,140) 100%, #eee 50%);
    background-image: -o-linear-gradient(bottom, rgb(140,140,140) 100%, #eee 50%);
    background-image: -moz-linear-gradient(bottom, rgb(140,140,140) 100%, #eee 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(140,140,140) 100%, #eee 50%);
    background-image: -ms-linear-gradient(bottom, rgb(140,140,140) 100%, #eee 50%);
    background-repeat:no-repeat;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(140,140,140)),
	color-stop(0.5, #eee)
);

}

body{
    background:#eee;
    font-family:Georgia,serif;

    
}

h1{
    font-style:italic;
    display:none;
}

.sevensixeight{
    width:768px;
    margin:0 auto;
}


#header{
    height:200px;
    background-image:url('/static/images/background-header.png');
}
#header.main{
  height:72px;
  background-image:url('/static/images/background-header-small.png');
  margin-bottom:24px;
}

#header.main img{
  margin-top:-7px;
  
}

#header img{
    margin-top:10px;
    display:inline-block;
    vertical-align:top;
    float:left;
}


#menu{
  position:;

  padding:8px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  
  background:rgba(173,78,28,.7);
  border:1px solid #9c450a;
  border-top:none;
  display:inline-block;
  float:right;
/*    margin-top:-162px;*/
  font-size:.8em;
  font-family:Helvetica, Arial, sans-serif;}

#menu form{
    display:inline-block;
}

#menu input{
    font-size:1em;
    padding:3px 2px 3px;
    margin:2px 0;
    border:1px solid #aaa;
    border-right:none;
    background:#eee;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
#menu input.button{
    padding:3px 8px 3px;
    margin-right:6px;
    font-size:1em;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;


    background-image: linear-gradient(bottom, #ccc 100%, #eee 10%);
    background-image: -o-linear-gradient(bottom, #ccc 100%, #eee 50%);
    background-image: -moz-linear-gradient(bottom, #ccc 100%, #eee 50%);
    background-image: -webkit-linear-gradient(bottom, #ccc 100%, #eee 50%);
    background-image: -ms-linear-gradient(bottom, #ccc 100%, #eee 50%);
    background-repeat:no-repeat;
    background-image: -webkit-gradient(
	    linear,
    	left bottom,
	    left top,
    	color-stop(1, #ccc),
	    color-stop(0.5, #eee)
);

}



a{
    color:black;
}
#description{
    padding:2em;
    margin:2em auto 5.5em;

}

h2{
  font-family:Lucida Grande,sans-serif;
  margin-bottom:1em;
  text-shadow:1px 1px 2px #fff;
}

p.index-info{width:512px;line-height:1.3em;margin-bottom:1em;}


#content-wrapper{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:#fff;
    
}
.center{
  text-align:center;
}

.info-image-wrapper{
  display:inline-block;
  vertical-align:top;
}

.info-image-wrapper.middle{
  margin:0 118px;
}

.info-image-wrapper h3{
  font-family:Lucida Grande,Helvetica,sans-serif;
  font-size:1.2em;
  margin-bottom:.5em;
  font-weight:normal;
  color:#0a7f9c;

}

.info-image-wrapper{
  font-size:.8em;
}

.info-image{
  display:block;
  width:168px;
  height:168px;
  border:3px solid #d0b39d;
  background-image:url('/static/images/old_books.png');
  border-radius:168px;
  margin:-72px 0 24px;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.5);
}

.info-image.globe{
  background-image:url('/static/images/globe_book.png');

}

.info-image-text{
  display:block;
  text-align:left;
  width:168px;
}
#content{
    margin-top:;
    padding:2em 0 3em;
}

#content h2{
  margin:.5em 0 1em 0em;
}

ul{
    list-style:none;
}

ul.languages li{
    width:192px;
    height:128px;
    display:inline-block;
    vertical-align:top;
    background:#d0b39d;
    margin:12px;
    padding:12px;
    border-radius:3px;
    box-shadow:1px 1px 10px #aaa;

}

#about{
  margin:2em auto 3em;
}

#end-notes-wrapper{
  background:rgba(173,78,28,.7);

  display:auto;
  padding:24px;
  height:1em;
  border-top:1px solid #868686;
}

.copyright{
  font-size:.8em;
  float:right;
}

#language{
}

#language #language_description{
  margin:1em 0;
}

#language ul li{
  
}

#language ul li em{
  font-weight:bold;
}
