<!DOCTYPE html>

<html>
    <head><title>Glossy {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css" />
    
    </head>
    <body>
        <div id="header" class="main">
      <div class="sevensixeight">
        <h1>HealingWords</h1><a href="/"><img  src="/static/images/logo-small.png" width=""/></a>
        
        <div id="menu"><form id="search"><input type="text"/><input type="submit" class="button" value="search"></form> {% include "sub_log_in_out.html" %} <a href="/#about">about</a></div>
      </div>
    </div>
    <div class="sevensixeight">
    {% block content %}

    {% endblock %}
  </div>
    </body>
</html>
