{% extends "glossy/base.html" %}
{% load markup %}

{% block title %} - {{language.language}}{% endblock %}
{% block content %}
<div id="language">
  <h2>{{language.language}}</h2>
  <div id="language-description">
    {{language.notes|markdown}}
    <span class="resources">{{language.resource}}</span>
  </div>
  {% if user.is_superuser %}
  <a id="edit-language" href="/admin/glossy_app/language/{{language.id}}" title="for now just links to admin panel">Edit Language(to be completed)</a><div style="clear:both;"></div>
  {% endif %}
  <div id="comment-count"><a href="#comments">{{comments|length}} comment{% if comments|length > 1 %}s{% endif %}{% if comments|length = 0 %}s{% endif %}</a></div>
  
  <div id="words-sort">Sort by: <a class="{% if order == "" %}selected{% endif %}" href="{% url glossy_app.views.language language.id %}">{{language.language}}</a>, <a class="{% if order == "english" %}selected{% endif %}" href="{% url glossy_app.views.language language.id "english" %}">English</a></div>
  
  <ol id="words">
    {% for definition in words %}
    {% if order == "english" %}
    <li><em>{{definition.definition}}</em> - <a href="{% url glossy_app.views.word definition.word.id %}" title="{{definition.definition}}">{{definition.word.word}}</a></li>
    {% else %}
    <li><em><a href="{% url glossy_app.views.word definition.word.id %}" title="{{definition.definition}}">{{definition.word.word}}</a></em> - {{definition.definition}}</li>
    {% endif %}
    {% endfor %}
  </ol>

    {% include "glossy/sub_comments.html" %}
  </div>
{% endblock %}
