{% extends "glossy/base.html" %}
{% block title %} - {{current_word.word.word}}{% endblock %}
{% block content %}
<div id="word">
<h2>{{current_word.word.word}} - <span class="definition">{{current_word.definition}}</span></h2>
<h3>language: <a href="{% url glossy_app.views.language current_word.word.language.id %}">{{current_word.word.language}}</a></h3>
Similar words in same language:
<div id="same-language">
  <ol class="words">
    {% for word in same_language%}
        {{word.word}}
        {% endfor %}
  </ol>
</div>
<div id="different-languages">
    Words that mean <em>{{current_word.definition}}</em> in similar languages:
<ol class="words">
{% for word in different_languages %}
<li><em><a href="{% url glossy_app.views.word word.word.id %}">{{word.word}}</a></em> - <a href="{% url glossy_app.views.language word.word.language.id %}">{{word.word.language}}</a></li>
{% endfor %}
</ol>


</div>
{% include "glossy/sub_comments.html" %}

</div>
{% endblock %}
