<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Glossy</title>
    <link rel="stylesheet" href="{{STATIC_URL}}styles/style.css" type="text/css" />
  </head>
  <body class="gradient">
    <div id="header">
      <div class="sevensixeight">
        <h1>HealingWords</h1><a href="/"><img  src="{{STATIC_URL}}images/logo.png" width="300"/></a>
        
        <div id="menu"><form id="search"><input type="text"/><input type="submit" class="button" value="search"></form> {% include "sub_log_in_out.html" %} <a href="#about">about</a></div>
      </div>
    </div>
    <div id="description" class="sevensixeight">
      <h2>We build apps that help you communicate.</h2>
      <p class="index-info">Glossy focuses on delivering apps that help their users with key phrases and terminology that allow them to more easily communicate in endangered or unknown languages.</p>
    </div>
    <div id="content-wrapper">
      <div class="sevensixeight center">
        <div class="info-image-wrapper"><span class="info-image"></span>
          <span class="info-image-text"><h3>Countless Languages</h3>We have a large amount of endangered and rare languages ready for you to use. We're adding new ones every day. </span>
        </div>
        <div class="info-image-wrapper middle"><span class="info-image globe"></span><span class="info-image-text"><h3>Global Reach</h3>Using your GPS we can pin-point what languages are spoken near you, and download them onto your phone.</span></div>
        <div class="info-image-wrapper"><span class="info-image"></span><span class="info-image-text">hello test</span></div>
        
        
      </div>
    <div id="content" class="sevensixeight">
      <div style="clear:both;"></div>
      <h2>New Languages</h2>
      <p class="index-info">We constantly update the languages we have in our databases, so make sure to come back and check for updates. </p>
      
      <ul id="top-languages" class="languages">
        {% for language in languages %}
        <li class="language"><h3>{{language.language}}</h3>
        <p class="description">{{language.notes|slice:":50"}}...</p>
          <a class="languagehome" href="{% url glossy_app.views.language language.id%}">learn more</a>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
<div id="about" class="sevensixeight">
  <h2>About</h2>
  <p class="index-info"></p>
</div>

<div id="end-notes-wrapper">
  <div id="end-notes" class="sevensixeight">
    <span class="copyright">&copy; 2011 Richard Litteaur and Simon Vansintjan</span>
  </div>
</div>
  </body>
</html>
