<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Healing Words</title>
    <link rel="stylesheet" href="{{STATIC_URL}}styles/style.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <div class="sevensixeight">
        <h1>HealingWords</h1><img  src="{{STATIC_URL}}images/logo.png" width="300"/>
        
        <div id="menu"><form id="search"><input type="text"/><input type="submit" class="button"></form> {% include "sub_log_in_out.html" %} <a href="/about/">about</a></div>
      </div>
    </div>
    <div id="description">
      <p>Healing Words is an attempt to create a set of dictionaries with key word phrases for aide workers active in regions with languages that they might not speak fluently. </p></div>
    <div id="content-wrapper">
    <div id="content" class="sevensixeight">
      <div style="clear:both;"></div>
      <ul id="top-languages" class="languages">
        {% for language in languages %}
        <li class="language"><h2>{{language.language}}</h2>
        <p class="description">{{language.notes|slice:":50"}}...</p>
          <a class="languagehome" href="{% url glossy_app.views.language language.id%}">learn more</a>
        </li>
        {% endfor %}
    </ul>
  </div>
  </div>
  
  </body>
</html>
